.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.App .countdown-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  animation: fade-count 3s;
  animation-fill-mode: both;
}

@keyframes fade-count {
  from { opacity: 1; }
  to { opacity: 0.01; }
}

.App .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.App img {
  width: 50%;
  position: absolute;
  animation: fade-in 3s;
}

.message {
  position: absolute;
}

@keyframes fade-in {
  from { opacity: 0.1; }
  to { opacity: 1; }
}


.App .icons {
  display: flex;
  position: absolute;
  bottom: 10rem;
  width: 30%;
  justify-content: space-between;
}

.App .icons svg {
  cursor: pointer;
  transition: all .4s;
}

.App .icons svg:hover {
  transform: scale(1.09);
  color: #FEBD01;
}

@media screen and (max-width: 768px) {
  .App .countdown {
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width: 820px) {
  .App .countdown {
    font-size: 2rem;
    padding: 10px;
  }
}

@media screen and (max-width: 540px) {
  .App .countdown {
    font-size: 1.5rem;
    padding: 10px;
  }
}

@media screen and (max-width: 412px) {
  .App .countdown {
    font-size: 1.2rem;
    padding: 10px;
  }
}